@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@font-face {
  font-family: 'Champagne+Limousines';
  src: url("../fonts/Champagne+Limousines/Champagne+Limousines.eot");
  src: url("../fonts/Champagne+Limousines/Champagne+Limousines.eot?#iefix") format("embedded-opentype"), url("../fonts/Champagne+Limousines/Champagne+Limousines.woff2") format("woff2"), url("../fonts/Champagne+Limousines/Champagne+Limousines.woff") format("woff"), url("../fonts/Champagne+Limousines/Champagne+Limousines.svg#Champagne+Limousines") format("svg"); }

@font-face {
  font-family: 'Freestyle Script';
  src: url("../fonts/Freestyle Script/Freestyle Script.eot");
  src: url("../fonts/Freestyle Script/Freestyle Script.eot?#iefix") format("embedded-opentype"), url("../fonts/Freestyle Script/Freestyle Script.woff2") format("woff2"), url("../fonts/Freestyle Script/Freestyle Script.woff") format("woff"), url("../fonts/Freestyle Script/Freestyle Script.svg#Freestyle Script") format("svg"); }
