@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@font-face {
  font-family: 'Champagne+Limousines';
  src: url("../fonts/Champagne+Limousines/Champagne+Limousines.eot");
  src: url("../fonts/Champagne+Limousines/Champagne+Limousines.eot?#iefix") format("embedded-opentype"), url("../fonts/Champagne+Limousines/Champagne+Limousines.woff2") format("woff2"), url("../fonts/Champagne+Limousines/Champagne+Limousines.woff") format("woff"), url("../fonts/Champagne+Limousines/Champagne+Limousines.svg#Champagne+Limousines") format("svg"); }

@font-face {
  font-family: 'Freestyle Script';
  src: url("../fonts/Freestyle Script/Freestyle Script.eot");
  src: url("../fonts/Freestyle Script/Freestyle Script.eot?#iefix") format("embedded-opentype"), url("../fonts/Freestyle Script/Freestyle Script.woff2") format("woff2"), url("../fonts/Freestyle Script/Freestyle Script.woff") format("woff"), url("../fonts/Freestyle Script/Freestyle Script.svg#Freestyle Script") format("svg"); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline-width: 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

h1 {
  font-size: 1.9em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.67em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

input, textarea, select, button, meter, progress, .selectBox-label {
  font-size: 1.2em; }

input {
  color: #555555; }

img {
  max-width: 100%;
  vertical-align: bottom; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #999; }

a:hover {
  color: #5b6ceb; }

.loader {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 9999; }
  .loader .inner {
    margin: auto;
    text-align: center; }
    .loader .inner p {
      font-size: 2em;
      color: #5b6ceb; }

.title {
  color: #5b6ceb;
  text-transform: uppercase;
  font-size: 2.45em; }

.selectBox-label {
  border: 1px solid #fff; }

.header-menu, .class-wrap, .yoga-class, .wrap,
.feature-list, .price-list, #footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.wrap {
  margin: 0 auto; }
  @media only screen and (max-width: 1169px) {
    .wrap {
      width: 100%;
      padding: 15px; } }
  @media only screen and (min-width: 1170px) {
    .wrap {
      width: 1170px; } }

#mob-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  z-index: 998;
  font-size: 2.5em;
  text-align: center;
  padding-top: 50px; }
  #mob-menu ul {
    margin-top: -webkit-calc(50% - 115px);
    margin-top: calc(50% - 115px); }
  #mob-menu ul li:not(:last-child) {
    margin-bottom: 30px; }
  #mob-menu li a {
    color: #5b6ceb;
    text-transform: uppercase;
    font-family: "Champagne+Limousines";
    letter-spacing: 4px; }

.toggle-menu {
  width: 34px;
  height: 34px;
  float: right;
  position: absolute;
  right: 20px;
  border: none;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  border: none; }
  @media only screen and (min-width: 767px) {
    .toggle-menu {
      display: none; } }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper, .sw-footer, .sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  background: #777777;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px; }

.sw-topper {
  top: 0px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-bottom {
  top: 6px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  top: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.sandwich.active .sw-bottom {
  top: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.header-menu {
  position: fixed;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FFF;
  z-index: 999;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 769px) {
    .header-menu {
      height: 100px; } }
  @media only screen and (max-width: 769px) {
    .header-menu {
      height: 60px; } }

@media only screen and (min-width: 767px) {
  .menu-left, .menu-right {
    min-width: 270px; } }

@media only screen and (max-width: 766px) {
  .menu-left, .menu-right {
    display: none; } }

.menu-left a, .menu-right a {
  font-weight: 600;
  color: #555555; }

.menu-left li, .menu-right li {
  display: inline-block;
  min-width: 30px; }

.menu-left li:not(:first-child), .menu-right li:not(:first-child) {
  margin-left: 30px; }

.menu-left li::after, .menu-right li::after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  background-color: #5b6ceb;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  margin: auto; }

.menu-left li:hover a, .menu-right li:hover a {
  color: #5b6ceb; }

.menu-left li:hover::after, .menu-right li:hover::after {
  width: 30px; }

.menu-left .menu-active, .menu-right .menu-active {
  color: #5b6ceb; }

.menu-left .menu-active::after, .menu-right .menu-active::after {
  width: 30px; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Champagne+Limousines";
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 5px;
  color: #5b6ceb; }
  @media only screen and (min-width: 1024px) {
    .logo {
      margin: 0 150px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
      margin: 0 50px; } }
  @media only screen and (max-width: 766px) {
    .logo {
      margin-left: 20px;
      position: absolute;
      left: 0px;
      font-size: 1.2em; } }
  @media only screen and (min-width: 769px) {
    .logo img {
      width: 70px; } }
  @media only screen and (max-width: 768px) {
    .logo img {
      width: 50px; } }
  @media only screen and (min-width: 769px) {
    .logo p {
      margin-top: 8px; } }
  @media only screen and (max-width: 768px) {
    .logo p {
      margin-top: 4px; } }

.menu-active::after {
  display: block;
  content: "";
  height: 2px;
  width: 0px;
  background-color: #5b6ceb;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  margin: auto; }

#slider {
  height: 100%;
  padding-top: 100px;
  position: relative; }
  #slider .bg-slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/img-slider.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; }
  #slider .wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50; }

@media only screen and (min-width: 917px) {
  a.popup-with-form {
    display: none; } }

@media only screen and (max-width: 917px) {
  .mfp-hide {
    display: none !important; } }

.trial-form {
  z-index: 50;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }
  @media only screen and (min-width: 1060px) {
    .trial-form {
      -webkit-flex-basis: 470px;
          -ms-flex-preferred-size: 470px;
              flex-basis: 470px;
      margin-right: 45px; } }
  @media only screen and (min-width: 916px) {
    .trial-form {
      margin-bottom: 100px; } }
  @media only screen and (max-width: 916px) {
    .trial-form {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }

.mfp-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

input.button,
.popup-with-form {
  float: right;
  width: 170px;
  height: 50px;
  margin-top: 31px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #5b6ceb;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 1.3em;
  font-weight: bold; }

.popup-with-form:hover,
input.button:hover {
  background-color: #5363db;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  color: #FFF; }

.popup-with-form {
  line-height: 50px;
  text-align: center; }
  @media only screen and (min-width: 651px) and (max-width: 916px) {
    .popup-with-form {
      margin-top: 0;
      margin-left: 20px; } }

.mfp-inline-holder .mfp-content,
.form-wrap {
  height: 390px;
  width: 300px;
  margin-top: 100px;
  float: right;
  background-color: #FFF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15); }
  .mfp-inline-holder .mfp-content #trialClass,
  .form-wrap #trialClass {
    height: 315px;
    width: 235px;
    margin: 40px 40px 35px 30px; }
  .mfp-inline-holder .mfp-content p.form-title,
  .form-wrap p.form-title {
    color: #5363db;
    font-size: 1.65em; }
  .mfp-inline-holder .mfp-content input:not(.button),
  .form-wrap input:not(.button) {
    display: block;
    width: 220px;
    height: 48px;
    margin-top: 17px;
    padding-left: 10px;
    background-color: #f2f2f2;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  .mfp-inline-holder .mfp-content .valid,
  .form-wrap .valid {
    border: 1px solid #8bc34a !important; }
  .mfp-inline-holder .mfp-content .invalid,
  .form-wrap .invalid {
    border: 1px solid #e47070 !important; }

.slogan {
  color: #FFF;
  z-index: 50;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  @media only screen and (min-width: 916px) {
    .slogan {
      -webkit-flex-basis: 470px;
          -ms-flex-preferred-size: 470px;
              flex-basis: 470px;
      margin-left: 45px; } }
  @media only screen and (max-width: 916px) {
    .slogan {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 10px; } }
  @media only screen and (max-width: 651px) {
    .slogan {
      text-align: center; } }
  @media only screen and (min-width: 651px) and (max-width: 916px) {
    .slogan {
      margin: 40px 0px; } }
  .slogan p.big {
    font-size: 3em;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase; }
  .slogan p.small {
    font-size: 2.4em;
    font-family: "Freestyle Script";
    font-weight: normal; }

.title-wrap h1 {
  color: #5b6ceb; }
  @media only screen and (max-width: 768px) {
    .title-wrap h1 {
      margin-top: 30px; } }
  @media only screen and (max-width: 1170px) {
    .title-wrap h1 {
      margin-top: 75px; } }
  @media only screen and (min-width: 1170px) {
    .title-wrap h1 {
      margin-top: 125px; } }

.title-wrap p.sub-title {
  color: #777777;
  font-family: "Freestyle Script";
  font-size: 2.5em; }
  @media only screen and (max-width: 1170px) {
    .title-wrap p.sub-title {
      margin-bottom: 30px; } }
  @media only screen and (min-width: 1170px) {
    .title-wrap p.sub-title {
      margin-bottom: 75px; } }

.class-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 1170px) {
    .class-wrap {
      margin-bottom: 50px; } }
  @media only screen and (min-width: 1170px) {
    .class-wrap {
      margin-bottom: 100px; } }
  .class-wrap .yoga-class {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
    @media only screen and (max-width: 590px) {
      .class-wrap .yoga-class {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 310px;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: center; } }
    .class-wrap .yoga-class li {
      margin-bottom: 25px;
      color: #777777;
      -webkit-box-flex: 0.7;
      -webkit-flex-grow: 0.7;
          -ms-flex-positive: 0.7;
              flex-grow: 0.7;
      -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
              box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 8px;
              border-radius: 8px;
      overflow: hidden; }
      @media only screen and (min-width: 591px) {
        .class-wrap .yoga-class li {
          height: 300px;
          -webkit-flex-basis: 570px;
              -ms-flex-preferred-size: 570px;
                  flex-basis: 570px; } }
      @media only screen and (max-width: 590px) {
        .class-wrap .yoga-class li {
          widows: 310px;
          padding: 20px; } }
    @media only screen and (min-width: 1170px) {
      .class-wrap .yoga-class li:nth-child(odd) {
        margin-right: 30px; } }
    .class-wrap .yoga-class h4 {
      text-transform: uppercase; }
      @media only screen and (min-width: 631px) {
        .class-wrap .yoga-class h4 {
          margin-top: 50px; } }
      @media only screen and (max-width: 630px) {
        .class-wrap .yoga-class h4 {
          margin-top: 25px; } }

.class-img {
  position: relative;
  width: 270px;
  -webkit-flex-shrink: 0.5;
      -ms-flex-negative: 0.5;
          flex-shrink: 0.5; }
  @media only screen and (min-width: 631px) {
    .class-img {
      margin-right: 30px;
      float: left; } }
  @media only screen and (min-width: 591px) and (max-width: 630px) {
    .class-img {
      margin-right: 20px;
      float: left; } }
  @media only screen and (max-width: 590px) {
    .class-img {
      margin-bottom: 25px; } }

.class-description {
  font-size: 14px;
  -webkit-flex-shrink: 0.7;
      -ms-flex-negative: 0.7;
          flex-shrink: 0.7; }
  @media only screen and (min-width: 590px) {
    .class-description {
      margin: 37px 50px 50px 0px;
      height: 150px; } }
  .class-description p {
    margin-top: 18px; }

#gallery ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  #gallery ul li {
    position: relative; }
    @media only screen and (min-width: 420px) {
      #gallery ul li {
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2); } }
    @media only screen and (min-width: 1170px) {
      #gallery ul li {
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4); } }
    #gallery ul li .ie-fix {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    #gallery ul li .ie-fix::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: rgba(83, 99, 219, 0.8);
      -webkit-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out; }
    #gallery ul li .ie-fix:hover {
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
    #gallery ul li .blue-color::before {
      opacity: 0;
      -webkit-transition: opacity .1s ease-in-out;
      transition: opacity .1s ease-in-out; }
    #gallery ul li a:hover::after,
    #gallery ul li .blue-color:hover::before,
    #gallery ul li a:hover .zoom-hover {
      opacity: 1; }

.mfp-image-holder .mfp-content {
  height: 400px; }

.zoom-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -webkit-calc( 50% - 28px);
  top: calc( 50% - 28px);
  left: -webkit-calc( 50% - 28px);
  left: calc( 50% - 28px);
  width: 56px;
  height: 56px;
  background-color: #FFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }
  .zoom-hover img {
    margin: auto;
    width: 27px;
    height: 27px; }

a.image-link {
  display: block;
  width: 100%;
  height: 100%; }

.blue-color::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(83, 99, 219, 0.8);
  -webkit-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out; }

.gallery-img {
  width: 100%;
  height: 100%; }

#about-us .wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media only screen and (min-width: 1170px) {
    #about-us .wrap {
      padding-top: 125px;
      padding-bottom: 125px; } }
  @media only screen and (max-width: 1170px) {
    #about-us .wrap {
      padding-top: 50px;
      padding-bottom: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

#about-us .prev-btn, #about-us .next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  -webkit-box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
  z-index: 20; }
  @media only screen and (max-width: 1169px) {
    #about-us .prev-btn, #about-us .next-btn {
      opacity: 0.5; } }

#about-us .prev-btn:hover, #about-us .next-btn:hover {
  cursor: pointer;
  opacity: 1; }

#about-us .prev-btn {
  background-image: url(../img/prev-btn.png);
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (min-width: 1170px) {
    #about-us .prev-btn {
      left: -25px; } }
  @media only screen and (max-width: 1169px) {
    #about-us .prev-btn {
      left: 25px; } }

#about-us .next-btn {
  background-image: url(../img/next-btn.png);
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (min-width: 1170px) {
    #about-us .next-btn {
      right: -25px; } }
  @media only screen and (max-width: 1169px) {
    #about-us .next-btn {
      right: 25px; } }

@media only screen and (max-width: 1170px) {
  .description {
    margin-bottom: 50px; } }

.description h3 {
  text-transform: uppercase;
  color: #5b6ceb;
  margin-bottom: 25px; }
  @media only screen and (min-width: 1170px) {
    .description h3 {
      margin-top: 25px; } }

@media only screen and (max-width: 585px) {
  .description .text {
    width: 100%;
    padding: 0px 15px; } }

@media only screen and (min-width: 586px) {
  .description .text {
    width: 585px; } }

@media only screen and (min-width: 1170px) {
  .description .text {
    padding-right: 115px; } }

.block-for-slider {
  position: relative;
  -webkit-flex-basis: 585px;
      -ms-flex-preferred-size: 585px;
          flex-basis: 585px; }

#viewport {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  z-index: 10; }
  @media only screen and (min-width: 586px) {
    #viewport {
      width: 585px;
      height: 300px; } }
  @media only screen and (max-width: 585px) {
    #viewport {
      width: 100%; } }

#slidewrapper {
  position: relative;
  z-index: -10;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
          transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1); }

.slide {
  list-style: none;
  display: inline;
  float: left; }

.slide-img {
  width: 100%; }
  @media only screen and (min-width: 586px) {
    .slide-img {
      margin-top: -webkit-calc(-50% + 220px);
      margin-top: calc(-50% + 220px); } }

#features {
  position: relative; }
  #features .bg-features {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/bg-features.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.feature-list {
  color: #FFF;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 50; }
  @media only screen and (min-width: 1170px) {
    .feature-list {
      margin: 120px 0px 140px; } }
  @media only screen and (max-width: 1169px) {
    .feature-list {
      margin: 50px 0px 90px; } }
  .feature-list li {
    min-height: 270px;
    text-align: center;
    font-size: 14px; }
    @media only screen and (min-width: 1170px) {
      .feature-list li {
        width: 25%; } }
    @media only screen and (max-width: 1169px) {
      .feature-list li {
        width: 50%; } }
    .feature-list li h4 {
      max-width: 170px;
      height: 50px;
      margin-top: 25px;
      margin-bottom: 25px; }
    .feature-list li p {
      max-width: 270px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center; }

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #FFF; }
  .icon img {
    margin: auto; }

#prices {
  color: #777777;
  text-align: center; }
  #prices p:not(.price) {
    margin: 45px; }

.head-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  color: #FFF;
  background-color: #5b6ceb;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5em;
  -webkit-border-radius: 8px 8px 0px 0px;
          border-radius: 8px 8px 0px 0px; }
  .head-price p.price {
    margin: auto; }
    .head-price p.price span:first-child {
      vertical-align: middle;
      font-size: 50%;
      margin-right: 8px; }
    .head-price p.price span:nth-child(2) {
      font-size: 25%;
      letter-spacing: 1px;
      font-weight: normal; }

.price-list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media only screen and (min-width: 990px) {
    .price-list {
      margin: 100px 0px 50px; } }
  .price-list .title-price {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700; }
  .price-list li {
    -webkit-flex-basis: 370px;
        -ms-flex-preferred-size: 370px;
            flex-basis: 370px; }
  .price-list .price-wrap {
    -webkit-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 9px 9px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 9px 9px 50px rgba(0, 0, 0, 0.1); }
  .price-list .price-desc {
    overflow: hidden;
    background-color: #FFF; }
    @media only screen and (max-width: 1169px) {
      .price-list .price-desc {
        margin-top: 15px; } }
  @media only screen and (min-width: 1170px) {
    .price-list li:not(:last-child) {
      margin-right: 30px; } }
  @media only screen and (min-width: 769px) and (max-width: 1169px) {
    .price-list li:not(:last-child) {
      margin-right: 15px; } }
  @media only screen and (max-width: 768px) {
    .price-list li:not(:last-child) {
      margin-right: 0px; } }
  .price-list .price-desc p:nth-child(1)::after,
  .price-list .price-desc p:nth-child(2)::after {
    display: block;
    content: '';
    position: relative;
    top: 20px;
    left: -webkit-calc( 50% - 50px);
    left: calc( 50% - 50px);
    width: 100px;
    height: 2px;
    background-color: #d7d7d7; }
  .price-list a.buy-btn {
    display: block;
    background-color: #5b6ceb;
    height: 50px;
    width: 170px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 50px;
    color: #FFF;
    margin: auto;
    margin-bottom: 50px; }

#bloquotes {
  width: 100%;
  position: relative; }
  @media only screen and (min-width: 1170px) {
    #bloquotes {
      padding: 50px 0px 200px; } }
  @media only screen and (max-width: 1169px) {
    #bloquotes {
      padding-bottom: 100px; } }
  #bloquotes .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  #bloquotes .flex-direction-nav {
    position: absolute;
    width: 300px;
    z-index: 99; }
    @media only screen and (min-width: 1170px) {
      #bloquotes .flex-direction-nav {
        left: 25%;
        bottom: -35px; } }
    @media only screen and (max-width: 1169px) {
      #bloquotes .flex-direction-nav {
        left: -webkit-calc(50% - 150px);
        left: calc(50% - 150px);
        bottom: -20px; } }
  #bloquotes .flex-prev, #bloquotes .flex-next {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
    background-size: 9px;
    cursor: pointer; }
  #bloquotes .flex-prev {
    left: 0;
    background-image: url(../img/prev-btn.png);
    background-repeat: no-repeat;
    background-position: center; }
  #bloquotes .flex-next {
    right: 0;
    background-image: url(../img/next-btn.png);
    background-repeat: no-repeat;
    background-position: center; }

.flower {
  z-index: -10;
  position: absolute;
  right: 0;
  bottom: 0; }

.qoute-wrap {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 9px 9px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 9px 9px 50px rgba(0, 0, 0, 0.1);
  display: none; }
  @media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .qoute-wrap {
      margin-right: 20px; } }
  @media only screen and (min-width: 801px) {
    .qoute-wrap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

.flex-viewport {
  height: 120% !important;
  padding-bottom: 50px; }

#quote-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 846px) {
    #quote-block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-left: 60px; } }
  @media only screen and (max-width: 800px) {
    #quote-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 50px; } }

.avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 148px;
  height: 148px;
  overflow: hidden;
  border: 2px solid #d7d7d7;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  @media only screen and (max-width: 800px) {
    .avatar {
      margin-bottom: 20px;
      width: 100px;
      height: 100px; } }
  .avatar img {
    margin: auto; }

.avatar::before {
  content: '';
  display: block;
  position: absolute;
  width: 144px;
  height: 144px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 1px 10px #FFF;
          box-shadow: inset 0px 0px 1px 10px #FFF; }
  @media only screen and (max-width: 800px) {
    .avatar::before {
      width: 96px;
      height: 96px;
      -webkit-box-shadow: inset 0px 0px 1px 6px #FFF;
              box-shadow: inset 0px 0px 1px 6px #FFF; } }

.quote {
  height: 100%;
  position: relative;
  margin-left: 90px;
  color: #555555; }
  @media only screen and (min-width: 1170px) {
    .quote {
      margin-right: 120px;
      -webkit-flex-basis: 670px;
          -ms-flex-preferred-size: 670px;
              flex-basis: 670px; } }
  @media only screen and (max-width: 1169px) {
    .quote {
      margin-right: 70px; } }
  .quote span {
    font-style: italic; }

.quote::after {
  content: close-quote;
  top: 35px;
  right: -50px; }

.quote::before {
  content: open-quote;
  top: -20px;
  left: -60px; }

.quote::after,
.quote::before {
  position: absolute;
  color: #5b6ceb; }
  @media only screen and (min-width: 801px) {
    .quote::after,
    .quote::before {
      font-size: 5em; } }
  @media only screen and (max-width: 800px) {
    .quote::after,
    .quote::before {
      font-size: 3em; } }

.signature {
  margin-top: 35px; }

p.vacancy {
  color: #777777; }

p.tr-name {
  color: #5b6ceb;
  font-weight: bold; }

.signature::before {
  content: '';
  display: block;
  position: absolute;
  top: 55px;
  left: -45px;
  width: 2px;
  height: 75px;
  background-color: #d7d7d7; }

#next-trainer {
  bottom: -35px;
  position: relative;
  width: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 1.2em;
  z-index: 999; }
  @media only screen and (min-width: 1170px) {
    #next-trainer {
      left: 27%; } }
  @media only screen and (max-width: 1169px) {
    #next-trainer {
      left: -webkit-calc(50% - 145px);
      left: calc(50% - 145px); } }

.next-avatar {
  position: relative;
  height: 72px;
  width: 72px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #d7d7d7;
  margin-left: 40px;
  margin-right: 10px;
  overflow: hidden; }
  .next-avatar img {
    display: block; }

.next-avatar::before {
  content: '';
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 1px 4px #FFF;
          box-shadow: inset 0px 0px 1px 4px #FFF;
  overflow: hidden;
  z-index: 2; }

.next-signature {
  margin: auto 0; }

.next-tr-name {
  color: #555555;
  font-weight: bold; }

@media only screen and (min-width: 1281px) {
  .flex-control-paging {
    position: absolute;
    right: -42px;
    top: -webkit-calc( 50% - 70px);
    top: calc( 50% - 70px); } }

@media only screen and (min-width: 1170px) and (max-width: 1280px) {
  .flex-control-paging {
    position: absolute;
    right: -12px;
    top: -webkit-calc( 50% - 70px);
    top: calc( 50% - 70px); } }

@media only screen and (max-width: 1169px) {
  .flex-control-paging {
    display: none; } }

.flex-control-paging li {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media only screen and (max-width: 1199px) {
    .flex-control-paging li {
      margin-left: 38px; } }
  @media only screen and (min-width: 1200px) {
    .flex-control-paging li {
      margin-bottom: 38px; } }

.flex-control-paging a::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #d7d7d7;
  margin: auto;
  top: 0; }

.flex-control-paging a::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: auto; }

.flex-control-paging a.flex-active::before {
  border-color: #5b6ceb; }

.flex-control-paging a.flex-active:after {
  background-color: #5b6ceb; }

#footer {
  color: #FFF;
  width: 100%;
  background-color: #5b6ceb;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 769px) {
    #footer {
      padding: 100px 0px; } }
  @media only screen and (max-width: 768px) {
    #footer {
      padding-top: 80px; } }
  #footer h4 {
    text-transform: uppercase;
    margin-bottom: 50px; }
  @media only screen and (max-width: 768px) {
    #footer .wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 455px; } }

@media only screen and (max-width: 768px) {
  .footer-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    text-align: center; } }

@media only screen and (min-width: 769px) {
  .footer-about {
    padding: 0px 20px 0px 0px;
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%; } }

@media only screen and (min-width: 1170px) {
  .footer-about {
    padding: 0px 120px 0px 10px;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }

.footer-about .social li {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px 20px; }

@media only screen and (max-width: 768px) {
  .footer-contacts {
    text-align: center; } }

@media only screen and (min-width: 769px) {
  .footer-contacts {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    padding-left: 15px; } }

@media only screen and (min-width: 1170px) {
  .footer-contacts {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }

@media only screen and (max-width: 768px) {
  .footer-contacts h4 {
    text-align: center; } }

@media only screen and (min-width: 769px) {
  .footer-contacts ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    list-style-position: outside;
    colum-coun: 2; } }

.footer-contacts ul li a {
  color: #FFF; }

.footer-contacts ul li img {
  margin-right: 15px;
  vertical-align: middle; }

.footer-contacts ul li span {
  display: inline-block;
  max-width: 220px;
  min-height: 100px; }

.footer-contacts ul li:nth-child(1) img,
.footer-contacts ul li:nth-child(2) img {
  vertical-align: super; }

#copyright {
  width: 100%;
  height: 100px;
  background-color: #5363db;
  color: #b7bffc;
  font-size: 19px;
  text-align: center;
  line-height: 100px; }

#features::after,
#slider::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: rgba(83, 99, 219, 0.8); }

.blue-color::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #5363db;
  mix-blend-mode: color; }

.ie-fix {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
