@import "app/sass/fonts";
@import "app/libs/sass-mediaqueries/media-queries";

//-------------------------COLORS---------------------------//

$mainColor: #5b6ceb;
$darkColor: #5363db;
$bgColor: rgba(91, 108, 235, 0.7);
$colorD7: #d7d7d7;
$color5: #555555;
$color7: #777777;

//--------------------------FONTS----------------------------//

$mainFont: 'Open Sans', sans-serif;
$font2: 'Champagne+Limousines';
$font3: 'Freestyle Script';

//---------------------DEVICE SCREEN------------------------//
//----------------@ screen(min-width, max-width)------------//
//--------------------@ min-screen(width)-------------------//
//--------------------@ max-screen(width)-------------------//
//----------------------------------------------------------//

$units: 1px;

//----------------------------------------------------------//
//-------------------------ELEMENTS-------------------------//
//----------------------------------------------------------//

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

*:focus {
	outline-width: 0;
}

body {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	color: $color5;
	font-family: $mainFont;
	font-size: 14px;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.67em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

input, textarea, select, button, meter, progress {
	font-size: 1.2em;
}

input {
	color: $mainColor;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	color: $mainColor;
}

p {
	margin: 5px;
}

.title {
		color: $mainColor;
		text-transform: uppercase;
		font-size: 2.45em;
	}

.header-menu, .class-wrap, .yoga-class, .wrap,
.feature-list, .price-list, #footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrap {
	@include max-screen(1169px) {	width: 100%;	padding: 15px};
	@include min-screen(1170px) {	width: 1170px;	};
	margin: 0 auto;
}

.blue {
	width: 100%;
	height: 100%;
	background-color: $bgColor;
	flex-wrap: wrap;
}
//----------------------------------------------------------//
//--------------------------HEADER--------------------------//
//----------------------------------------------------------//

.header-menu {
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: #FFF;
	z-index: 999;
	box-shadow: 0 3px 7px rgba( 0, 0, 0, 0.15);
}

.menu-left, .menu-right {
	min-width: 270px;
	@include max-screen(767px) {	display: none;	}

	a {
		font-weight: 600;
		color: $color5;
	}

	li {
		display: inline-block;
		min-width: 30px;
	}

	li:not(:first-child) {
		margin-left: 30px;
	}

	li::after {
		display: block;
		content: "";
		height: 2px;
		width: 0;
		background-color: $mainColor;
		transition: width .5s ease-in-out;
		margin: auto;
	}

	li:hover a {
		color: $mainColor;
	}

	li:hover::after {
		width: 30px;
	}

	.menu-active {
		color: $mainColor;
	}

	.menu-active::after {
		width: 30px;
	}
}

.logo {
	@include min-screen(1024px) {		margin: 0 150px;	}
	@include max-screen(1024px) {		margin: 0 75px;	}
	@include max-screen(768px) {		margin: 0 25px;	}
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font2;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 5px;
	color: $mainColor;
	img {
		width: 70px;
	}
}

.menu-active::after {
	display: block;
	content: "";
	height: 2px;
	width: 0px;
	background-color: $mainColor;
	transition: width .5s ease-in-out;
	margin: auto;
}
//----------------------------------------------------------//
//--------------------------SLIDER--------------------------//
//----------------------------------------------------------//

#slider {
	height: 700px;
	padding-top: 100px;

	.wrap {
		justify-content: center;
		align-items: center;
	}
}

.bg-slider {
	position: absolute;
	height: 600px;
	width: 100%;
	background: url("../img/img-slider.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contein;
	z-index: -10;
	filter: grayscale(1);
}

.trial-form {
	@include max-screen(984px) { display: none;	};
	width: 470px;
	margin-right: 45px;
}

.form-wrap {
	height: 390px;
	width: 300px;
	margin-top: 100px;
	float: right;
	background-color: #FFF;
	padding: 40px 40px 35px 30px;
	border-radius: 20px;
	box-shadow: 8px 8px 10px rgba( 0, 0, 0, 0.15);

	form {
		height: 315px;
		width: 225px;
	}

	p.form-title {
		color: $darkColor;
		font-size: 1.65em;
	}

	input:not(.button) {
		display: block;
		width: 220px;
		height: 50px;
		margin-top: 17px;
		padding-left: 10px;
		background-color: #f2f2f2;
		border-radius: 8px;;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
	}

	input.button {
		float: right;
		width: 170px;
		height: 50px;
		margin-top: 31px;
		border-radius: 8px;
		background-color: $mainColor;
		box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.15);
		color: #FFF;
		font-size: 1.3em;
		font-weight: bold;
	}

	input.button:hover {
		background-color: $darkColor;
		box-shadow: none;
		cursor: pointer;
	}
}

.slogan {
	min-width: 470px;
	margin-left: 45px;
	color: #FFF;

	p.big {
		font-size: 3em;
		font-weight: bold;
		text-transform: uppercase;
	}

	p.small {
		font-size: 2.4em;
		font-family: $font3;
		font-weight: normal;
	}
}

//----------------------------------------------------------//
//------------------------OUR-CLASSES-----------------------//
//----------------------------------------------------------//

.title-wrap {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	h1 {
		margin-top: 125px;
		color: $mainColor;
	}

	p.sub-title {
		color: $color7;
		font-family: $font3;
		font-size: 2.5em;
		margin-bottom: 75px;
	}
}

.class-wrap {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;

	.yoga-class {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		li {
			@include max-screen(1170px) {	margin: 25px;	}
			@include min-screen(1170px) {	margin-bottom: 25px;	}
			color: $color7;
			flex-basis: 570px;
			flex-grow: 0.7;
			height: 300px;
			box-shadow: 5px 5px 20px rgba( 0, 0, 0, 0.10);
			border-radius: 8px;
		}

		li:nth-child(odd) {
			@include min-screen(1170px) {	margin-right: 30px;	}
		}

		img {
			float: left;
			margin-right: 30px;
		}

		h4 {
			margin-top: 50px;
			text-transform: uppercase;
		}
	}

	.class-description {
		font-size: 14px;
		height: 150px;
		margin: 37px 50px 50px 0px;
	}
}
//----------------------------------------------------------//
//----------------------ENF-OUR-CLASSES---------------------//
//----------------------------------------------------------//
//----------------------------------------------------------//
//-------------------------GALLERY--------------------------//
//----------------------------------------------------------//

#gallery ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	
	li {
		position: relative;
		@include min-screen(420px)  {	width: calc(100% / 2);	};
		@include min-screen(1170px) {	width: calc(100% / 4);	};
	}
	.zoom-hover {
		display:  flex;
		position: absolute;
		width: 57px;
		height: 57px;
		background-color: #FFF;
		border-radius: 50%;
		z-index: 999;
		opacity: 0;
		transition: all .7s ease-in-out;

		img {
			margin: auto; 
			width: 27px;
			height: 27px;
		}
	}
	a.image-link {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 100%;;
		height: 100%;
	}

	a::after {
	 	content: '';
	 	position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		background-color: rgba(83,99,219, 0.8);
		transition: all .5s ease-in-out;
	 }

	a::before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		background-color: rgb(83,99,219);
		transition: all .2s ease-in-out;
		mix-blend-mode: color;
	}

	a:hover::after,
	a:hover::before,
	a:hover .zoom-hover {
			opacity: 1;
		}
}

.gallery-img	{
		width: 100%;
		height: 100%;
}



//----------------------------------------------------------//
//------------------------END-GALLERY-----------------------//
//----------------------------------------------------------//
//----------------------------------------------------------//
//-------------------------ABOUT US-------------------------//
//----------------------------------------------------------//
#about-us {

	.wrap {
		padding-top: 150px;
		padding-bottom: 125px;
		flex-wrap: wrap;
		@include max-screen(1170px) {	display: flex; flex-flow: column wrap; justify-content: center; align-items: center;	};
	}

	.prev-btn, .next-btn {
		position: absolute;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		top: calc(50% - 25px);
		box-shadow: 6px 6px 9px rgba( 0, 0, 0, 0.1);
		z-index: 20;
	}
	
	.prev-btn:hover, .next-btn:hover {
		cursor: pointer;
	}
	
	.prev-btn {
		left: -25px;
		background-image: url(../img/prev-btn.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.next-btn {
		right: -25px;
		background-image: url(../img/next-btn.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}
.description {
		@include max-screen(1170px) { margin-bottom: 50px; 
		}

	h3 {
		text-transform: uppercase;
		color: $mainColor;
	}

	.text {
		@include max-screen(585px) {	width: 100%;	};
		@include min-screen(586px) {	width: 585px; padding-right: 115px;	};
	}
}

.block-for-slider {
	position: relative;
	@include min-screen(768px) {	width: 585px; };
}

#viewport {
	height: 300px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 6px 6px 15px rgba( 0, 0, 0, 0.1);
	user-select: none;
	text-align: center;
	z-index: 10;
}

#slidewrapper {
	position: relative;
	z-index: -10;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
	-o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
	transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

.slide {
	list-style: none;
	display: inline;
	float: left;
}

.slide-img {
	width: 100%;
	margin-top: calc(-50% + 220px);
}


//----------------------------------------------------------//
//-------------------------FEATURES-------------------------//
//----------------------------------------------------------//

.bg-features {
	position: absolute;
	width: 100%;
	color: #FFF;
	background: url('../img/bg-features-parallax.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -10;
	filter: grayscale(1);
}

.feature-list {
	color: #FFF;
	flex-flow: wrap;
	justify-content: space-between;
	@include min-screen(1170px) {	margin: 120px 0px 140px;	};
	@include max-screen(1169px) {	margin: 50px 0px 90px;	};

	li {
		@include min-screen(1170px) {	width: 25%;	};
		@include max-screen(1169px) {	width: 50%;	};
		min-height: 270px;
		text-align: center;
		font-size: 14px;
	
		h4 {
			max-width: 170px;
			height: 50px;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		p {
			max-width: 270px;
			align-self: center;
		}
	}
}

.icon {
	display: flex;
	padding: 10px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #FFF;
	
	img {
		margin: auto;
	}
}
//----------------------------------------------------------//
//-----------------------END-FEATURES-----------------------//
//----------------------------------------------------------//
//----------------------------------------------------------//
//-------------------------PRICES---------------------------//
//----------------------------------------------------------//

#prices {
	color: $color7;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	
	p:not(.price){
		margin: 45px;
	}
}

.head-price {
	display: flex;
	width: 100%;
	height: 150px;
	color: #FFF;
	background-color: $mainColor;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 5em;
}

p.price {
	margin: auto;

	span:first-child {
		vertical-align: middle;
		font-size: 50%;
		margin-right: 8px;
	}

	span:nth-child(2) {
		font-size: 25%;
		letter-spacing: 1px;
		font-weight: normal;
	}
}

.price-list {
	background-color: #FFF;
	@include min-screen(990px) { justify-content: space-between; width: 100%; margin: 100px 10px 50px;  }
	@include max-screen(1169px) { flex-flow: column wrap; justify-content: center; align-items: center; width: 100%; }
	li {
		@include min-screen(414px) { min-width: 370px; }
		@include max-screen(1169px) { margin: 20px 40px; }
		overflow: hidden;
		border-radius: 8px;
		box-shadow: 9px 9px 50px rgba( 0, 0, 0, 0.1);
		
		p:not(:last-child)::after,
		p:not(.price)::after {
			display: block;
			content: '';
			position: relative;
			top: 20px;
			left: calc( 50% - 50px);
			width: 100px;
			height: 2px;
			background-color: $colorD7;
		}
	}

	a.buy-btn {
		display: block;
		background-color: $mainColor;
		height: 50px;
		width: 170px;
		border-radius: 20px;
		font-size: 1.3em;
		font-weight: 600;
		line-height: 50px;
		color: #FFF;
		margin: auto;
		margin-bottom: 50px;
	}
}


//----------------------------------------------------------//
//-----------------------END-PRICES-------------------------//
//----------------------------------------------------------//
//----------------------------------------------------------//
//------------------------BLOQUOTES-------------------------//
//----------------------------------------------------------//
#bloquotes {
	width: 100%;
	padding: 50px 0px 200px;
	position: relative;

	.wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	
	.prev-btn, .next-btn {
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border-radius: 50%;
		bottom: -10px;
		box-shadow: 6px 6px 9px rgba( 0, 0, 0, 0.1);
		z-index: 20;
		background-size: 9px;
	}

	.prev-btn:hover, .next-btn:hover {
		cursor: pointer;
	}

	.prev-btn {
		left: 300px;
		background-image: url(../img/prev-btn.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.next-btn {
		right: 50%;
		background-image: url(../img/next-btn.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}

.flower {
	z-index: -10;
	position: absolute;
	right: 0;
	bottom: 0;
}

#quotes-wrap {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 50px;
	width: 100%;
	height: 250px;
	position: relative;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 9px 9px 50px rgba( 0, 0, 0, 0.1);
	
	li.qoute-wrap {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
		
	li.active-quote {
		display: flex;
	}
}

#quote-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.avatar {
	position: relative;
	border-radius: 50%;
	width: 148px;
	height: 148px;
	overflow: hidden;
	border: 2px solid $colorD7;

	img {
		display: block;
		position: absolute;
		max-height: 100%;
		top: 9px;
		z-index: 1;
	}
}

.avatar::before {
	content: '';
	display: block;
	position: absolute;
	width: 144px;
	height: 144px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 1px 10px #FFF;
	z-index: 2;
}

.quote {
	width: 670px;
	position: relative;
	margin-right: 120px;
	margin-left: 90px;
	color: $color5;

	span {
		font-style: italic;
	}
}

.quote::after {
	content: close-quote;
	top: 35px;
	right: -50px;
}

.quote::before {
	content: open-quote;
	top: -20px;
	left: -60px;
}

.quote::after ,
.quote::before {
	position: absolute;
	font-size: 5em;
	color: $mainColor;
}

.signature {
	margin-top: 35px;
}

p.vacancy {
	color: $color7;
}

p.tr-name {
	color: $mainColor;
	font-weight: bold;
}

.signature::before {
	content: '';
	display: block;
	position: absolute;
	top: 55px;
	left: -45px;
	width: 2px;
	height: 75px;
	background-color: $colorD7;
}

#next-trainer {
	display: block;
	position: relative;
	top: 18px;
	left: -130px;
	width: 290px;
	display: flex;
	flex-flow: row wrap;
	font-size: 1.2em;
}

.next-avatar {
	position: relative;
	height: 72px;
	width: 72px;
	border-radius: 50%;
	border: 2px solid $colorD7;
	margin-left: 40px;
	margin-right: 10px;
	overflow: hidden;

	img {
		display: block;
		max-width: none;
		margin-left: -50%;
	}
}

.next-avatar::before {
	content: '';
	display: block;
	position: absolute;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 1px 3px #FFF;
	z-index: 2;
}

.next-signature {
	margin: auto 0;
}

.next-tr-name {
	color: $color5;
	font-weight: bold;
}

.quotes-bullets {
	position: absolute;
	right: -45px;
	top: calc( 50% - 70px);
	
	li {
		display: flex;
		margin-bottom: 18px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border: 2px solid $colorD7;
	}

	li.active {
		border-color: $mainColor;
	}

	li a {
		margin: auto;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	} 

	li.active a {
		background-color: $mainColor;
	}
}
//----------------------------------------------------------//
//----------------------END-BLOQUOTES-----------------------//
//----------------------------------------------------------//
//----------------------------------------------------------//
//--------------------------FOOTER--------------------------//
//----------------------------------------------------------//
#footer {
	color: #FFF;
	width: 100%;
	background-color: $mainColor;
	align-items: center;
	justify-content: center;
	@include min-screen(769px) { padding: 100px 0px; }
	@include max-screen(768px) { padding-top: 80px; }
	h4{
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	.wrap {
		@include max-screen(768px) { flex-flow: column wrap; align-items: center; justify-content: center; width: 455px; }
	}
}
.footer-about {
	@include max-screen(768px) { flex-flow: column wrap; align-items: center; justify-content: center; margin-bottom: 30px; text-align: center; }
	@include min-screen(769px) { padding: 0px 20px 0px 0px; flex-basis: 40%; }
	@include min-screen(1170px) { padding: 0px 120px 0px 10px; flex-basis: 50%; }
	.social li {
		display: inline-block;
		vertical-align: middle;
		margin: 20px 10px 20px;
	}
}
.footer-contacts {
	@include max-screen(768px) { text-align: center; }
	@include min-screen(769px) { flex-basis: 60%; padding-left: 15px;}
	@include min-screen(1170px) { flex-basis: 50%; }
		h4 {
			@include max-screen(768px) { text-align: center; }
		}
		ul {
			@include min-screen(769px) {-moz-column-count: 2; -webkit-column-count: 2; list-style-position: outside; colum-coun: 2;}
			li {
				a {
					color: #FFF;
				}
				img {
					margin-right: 15px;
					vertical-align: middle;
				}
				span {
					display: inline-block;
					max-width: 220px;
					min-height: 100px;
				}
			}
		li:nth-child(1),
		li:nth-child(2) {
			img {
				vertical-align: super;
				}
			}
	}
	
}
//----------------------------------------------------------//
//------------------------COPYRIGHT-------------------------//
//----------------------------------------------------------//
#copyright {
	width: 100%;
	height: 100px;
	background-color: $darkColor;
	color: #b7bffc;
	font-size: 19px;
	text-align: center;
	line-height: 100px;
}
//----------------------------------------------------------//
//---------------------END-COPYRIGHT------------------------//
//----------------------------------------------------------//

