@import "app/sass/fonts.sass"
//----------------------------------------------------------//
//-------------------------ELEMENTS-------------------------//
//----------------------------------------------------------//

//-------------------------COLORS---------------------------//
$mainColor: #5b6ceb
$darkColor: #5363db
$color3: #777777

//--------------------------FONTS----------------------------//
$mainFont: 'Open Sans'
$font2: 'Champagne+Limousines'
$font3: 'Freestyle Script'

//----------------------DEVICE SCREEN------------------------//
$small: 320px
$large: 1024px



*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box

*:focus
	outline-width: 0

body
	width: 100%
	height: 100%
	background-color: #FFF
	font-family: $mainFont
	font-size: 16px

h1
	font-size: 3em
h2
	font-size: 2.55em
h3
	font-size: 1.87em
h4
	font-size: 1.6em
h5
	font-size: 1.2em

input, textarea, select, button, meter, progress
	font-size: 1.2em

input
	color: $mainColor

img
	display: flex
	max-width: 100%
	vertical-align: bottom

ul
	list-style: none

a
	text-decoration: none

.title
		color: $mainColor
		text-transform: uppercase
		font-size: 2.45em

.inner
	width: 1160px
	margin: auto


//----------------------------------------------------------//
//--------------------------HEADER--------------------------//
//----------------------------------------------------------//
.header-menu
	position: fixed
	width: 100%
	height: 100px
	background-color: #FFF
	z-index: 999
	box-shadow: 0 3px 7px rgba( 0, 0, 0, 0.15)
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	flex-wrap: nowrap

.menu-left,
.menu-right
	min-width: 270px
	a
		font-weight: 600
		color: #555555

	li
		display: inline-block
		min-width: 30px
	li:not(:first-child)
		margin-left: 30px
	li::after
		display: block
		content: ""
		height: 2px
		width: 0
		background-color: $mainColor
		transition: width .5s ease-in-out
		margin: auto
	li:hover a
		color: $mainColor
	li:hover::after
		width: 30px

.logo
	margin: 0 150px
	font-family: $font2
	font-size: 1.5em
	font-weight: bold
	letter-spacing: 5px
	color: $mainColor
	img
		width: 70px



//----------------------------------------------------------//
//--------------------------SLIDER--------------------------//
//----------------------------------------------------------//
#slider
	background-image: url("../img/img-slider.jpg")
	background-position: center
	background-repeat: no-repeat
	width: 100%
	height: 700px
	padding-top: 100px

.sld-wrap
	width: 100%
	height: 100%
	background-color: rgba(91, 108, 235, 0.8)
	display: flex
	flex-direction: row wrap
	justify-content: center
	align-items: center
.trial-form
	order: 1
.form-wrap
	height: 390px
	width: 300px
	background-color: #FFF
	padding: 40px 40px 35px 30px
	border-radius: 20px
	box-shadow: 8px 8px 10px rgba( 0, 0, 0, 0.15)

	form
		height: 315px
		width: 225px
	p.form-title
		color: $darkColor
		font-size: 1.65em
	input:not(.button)
		display: block
		width: 220px
		height: 50px
		margin-top: 17px
		padding-left: 10px
		background-color: #f2f2f2
		border-radius: 8px;
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		-ms-box-sizing: content-box
		box-sizing: content-box
	input.button
		float: right
		width: 170px
		height: 50px
		margin-top: 31px
		border-radius: 8px
		background-color: $mainColor
		box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.15)
		color: #FFF
		font-size: 1.3em
		font-weight: bold
	input.button:hover
		background-color: $darkColor
		box-shadow: none
		cursor: pointer

		
.slogan
	min-width: 470px
	order: 2
	margin-left: 90px
	color: #FFF
	h1
		text-transform: uppercase
	h2
		font-family: $font3
		font-weight: normal


//----------------------------------------------------------//
//------------------------OUR CLASSES-----------------------//
//----------------------------------------------------------//
#our-classes
	p.title
		margin-top: 120px
	p.sub-title
		color: $color3
		font-family: $font3
		margin-bottom: 76px
		font-size: 3.25em

.class-wrapper-left
	margin-right: 30px
.class-wrapper-left,
.class-wrapper-right
	float: left
	width: calc(50% - 15px)

.yoga-class
	width: 570px
	height: 300px
	box-shadow: 5px 5px 20px rgba( 0, 0, 0, 0.10)
	border-radius: 8px
	margin-bottom: 25px
	img
		float: left
		margin-right: 30px
.class-description
	p
		text-transform: uppercase


.yoga-class:last-child
	margin-bottom: 125px


//----------------------------------------------------------//
//-------------------------GALLERY-------------------------//
//----------------------------------------------------------//
#gallery
	width: 100%
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: stretch
	flex-wrap: wrap
.gallery-img
	width: 25%

//----------------------------------------------------------//
//-------------------------ABOUT US-------------------------//
//----------------------------------------------------------//
.description
	width: 50%
	margin-top: 150px
	float: left
	.text
		width: 470px

.about-slider
	width: 50%
	padding-left: 15px
	float: right
.viewport
	width: 570px
	height: 300px
	margin: 125px 0px
	overflow: hidden
	border-radius: 8px
	box-shadow: 8px 8px 10px rgba( 0, 0, 0, 0.15)
.prev-next-btns
	width: 100%
	display: table
	position: relative
	overflow: hidden
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-o-user-select: none
	user-select: none
.prev-btn, .next-btn
	position: absolute
	width: 50px
	height: 50px
	background-color: #fff
	border-radius: 50%
	margin-top: 125px
	z-index: 999
.prev-btn
	left: -25px
.next-btn
	right: -25px

ul.slidewrapper
	margin-top: -100px



//----------------------------------------------------------//
//-------------------------SELECTBOX-------------------------//
//----------------------------------------------------------//

.selectBox-label
	color: #777
	display: block
	width: 220px
	height: 50px
	margin-top: 17px
	padding-left: 10px
	line-height: 50px
	background-color: #f2f2f2
	border-radius: 8px;
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	-ms-box-sizing: content-box
	box-sizing: content-box

.selectBox-dropdown
	position: relative

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow 
	border: none


.selectBox-dropdown.selectBox-menuShowing-bottom 
	-moz-border-radius-bottomleft: 0
	-moz-border-radius-bottomright: 0
	-webkit-border-bottom-left-radius: 0
	-webkit-border-bottom-right-radius: 0
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0


.selectBox-dropdown .selectBox-arrow 
	position: absolute
	top: 17px
	right: 0
	width: 28px
	height: 50px
	background: url(../img/arrow.png) 50% center no-repeat


.selectBox-dropdown-menu 
	position: absolute
	z-index: 99999
	max-height: 220px
	min-height: 1em
	background: #FFF
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2)
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2)
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2)
	overflow: auto
	-webkit-overflow-scrolling: touch


.selectBox-inline
	outline: none
	background: #FFF
	display: inline-block
	-webkit-border-radius: 8px
	-moz-border-radius: 8px
	border-radius: 8px
	overflow: auto


.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A
	color: #5b6ceb
	list-style: none
	display: block
	cursor: default
	padding: 0
	margin: 0


.selectBox-options.selectBox-options-bottom
	-moz-border-radius-bottomleft: 8px
	-moz-border-radius-bottomright: 8px
	-webkit-border-bottom-left-radius: 8px
	-webkit-border-bottom-right-radius: 8px
	border-bottom-left-radius: 8px
	border-bottom-right-radius: 8px


.selectBox-options LI A 
	line-height: 1.5
	padding: 0.5em
	white-space: nowrap
	overflow: hidden
	background: 6px center no-repeat


.selectBox-options LI.selectBox-hover A 
	background-color: #EEE


.selectBox-options LI.selectBox-disabled A 
	display: none


.selectBox-options LI.selectBox-selected A 
	background-color: #C8DEF4